@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

// Desktop 1440 x 1895
// Tablet 768 x 2128
// Mobile 375 x 2215

$Green: hsl(192, 37, 38);
$Dark-purple: hsl(268, 34, 53);
$Black: hsl(240, 21, 20);
$Gray: hsl(240, 10, 57);
$Light-blue: hsl(192, 90, 77);
$Light-purple: hsl(268, 100, 86);
$White: hsl(0, 0, 98);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background: $White;
}

// header

header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 80px auto 61px auto;
}

// groupchat

.groupchat {
  display: flex;
  margin-left: -35px;
  width: 1504px;
  height: 358px;

  .groupchat_img {
    display: grid;
    grid-template-columns: repeat(3, auto);

    img {
      border-radius: 50%;
      padding: 0.5rem;
      height: 110px;
      width: 110px;
    }
    .left-2 {
      margin-top: -58px;
    }

    .left-5 {
      margin-top: -58px;
    }
  }

  .groupchat_img-2 {
    display: grid;
    grid-template-columns: repeat(3, auto);

    img {
      border-radius: 50%;
      padding: 0.5rem;
      height: 110px;
      width: 110px;
    }

    .right-2 {
      margin-top: 58px;
    }

    .right-5 {
      margin-top: 58px;
    }
  }

  .groupchat_text {
    flex: 2;
    padding: 2rem;
    margin: 0 150px 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 64px;
      line-height: 64px;
      color: $Black;
    }

    p {
      margin-top: 51px;
      color: $Gray;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 38px;
    }
  }

  .groupchat_buttons {
    display: flex;
    justify-content: center;

    .btn1 {
      width: 194px;
      height: 58px;
      margin-right: 15px;
      font-size: 15px;
      font-weight: 800;
      text-align: center;
      background: $Green;

      border-radius: 30px;
      border: none;
      outline: none;
      color: $White;

      span {
        color: $Light-blue;
      }

      &:hover {
        cursor: pointer;
        background: #71c0d4;
      }
    }

    .btn2 {
      font-size: 15px;
      font-weight: 800;
      text-align: center;
      width: 139px;
      height: 58px;
      border-radius: 30px;
      border: none;
      outline: none;
      background: $Dark-purple;
      color: $White;

      &:hover {
        cursor: pointer;
        background: $Light-purple;
      }
    }
  }
}

// number 1

.number1-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .line {
    margin: 0 auto;
    margin-top: 115px;
    width: 1px;
    height: 84px;
    background-color: $Gray;
    opacity: 25%;
  }

  .button-number {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid $Gray;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: $Gray;
    background-color: $White;
    margin-bottom: 62px;
  }
}

// image contaner

.mid-images {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 163px;
  height: 242px;
  width: 1110px;
  margin-bottom: 80px;

  img {
    border-radius: 15px;
    height: 242px;
    width: 255px;
  }
}

// text container

.container {
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 74px;
  text-align: center;
  width: 540px;
  height: 240;

  h3 {
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    font-size: 16px;
    text-transform: uppercase;
    color: $Green;
  }

  h2 {
    margin-top: 37px;
    color: $Black;
    font-weight: 900;
    line-height: 44px;
    font-size: 40px;
  }

  p {
    margin-top: 35px;
    text-align: center;
    color: $Gray;
    font-size: 16px;
    font-weight: medium;
    line-height: 26px;
  }
}

.number2-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -28px;

  .line {
    margin: 0 auto;
    width: 1px;
    height: 84px;
    background-color: $Gray;
    opacity: 25%;
  }

  .button-number {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid $Gray;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: $Gray;
    background-color: $White;
  }
}

// footer

footer {
  background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)),
    url('image-footer.jpg') no-repeat center;
  background-size: cover;
  height: 308px;

  .footer-container {
    display: flex;
    padding: 110px 0 100px 0;
    justify-content: center;
    align-items: center;
  }
  .footer-experience {
    font-size: 40px;
    font-weight: 900;
    color: #fafafa;
    line-height: 44px;
    margin-right: 80px;
    width: 20%;
  }
  .footer-stay-connected {
    font-size: 18px;
    width: 20%;
    color: #fafafa;
    font-weight: 500;
    line-height: 26px;
    margin-right: 100px;
  }
  .footer-button-download {
    background-color: #855fb1;
    width: 193px;
    height: 58px;
    border-radius: 29px;
    border: none;
    cursor: pointer;
    color: #fafafa;
    font-weight: 900;

    &:hover {
      background-color: #b18bdd;
    }
  }
  span {
    color: #d9b8ff;
  }
}

@media (max-width: 768px) {
  // header
  header {
    margin: 50px auto 62px auto;
  }

  //groupchat
  .groupchat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;

    .groupchat_img {
      order: 1;

      img {
        border-radius: 50%;
        padding: 0rem;
        height: 110px;
        width: 110px;
      }

      .left-1 {
        position: absolute;
        top: 194px;
        left: -25px;
      }

      .left-2 {
        position: absolute;
        top: 138px;
        left: 114px;
        margin: 0;
      }
      .left-3 {
        position: absolute;
        top: 194px;
        left: 258px;
      }
      .left-4 {
        position: absolute;
        top: 333px;
        left: -25px;
      }

      .left-5 {
        position: absolute;
        top: 276px;
        left: 116px;
        margin: 0;
      }
      .left-6 {
        position: absolute;
        top: 333px;
        left: 258px;
      }
    }

    .groupchat_text {
      order: 3;
      position: absolute;
      top: 515px;
      left: 155px;
      height: 262px;
      width: 457px;
      padding: 0;
      margin: 0;

      h1 {
        text-align: center;
        font-size: 64px;
        line-height: 64px;
        color: $Black;
      }

      p {
        color: $Gray;
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 38px;
      }
    }

    .groupchat_img-2 {
      order: 2;

      img {
        border-radius: 50%;
        margin: 0px;
        padding: 0;
        height: 110px;
        width: 110px;
      }

      .right-1 {
        position: absolute;
        top: 138px;
        right: 256px;
      }

      .right-2 {
        position: absolute;
        top: 194px;
        right: 115px;
        margin: 0;
      }

      .right-3 {
        position: absolute;
        top: 137px;
        right: -25px;
      }
      .right-4 {
        position: absolute;
        top: 276px;
        right: 255px;
      }

      .right-5 {
        position: absolute;
        top: 331px;
        right: 115px;
        margin: 0;
      }
      .right-6 {
        position: absolute;
        top: 276px;
        right: 0px;
        margin-right: -25px;
      }
    }
  }

  // number 1
  .number1-section {
    z-index: 10;
    position: absolute;
    top: 750px;
    left: 355px;
  }

  //mid-images
  .mid-images {
    position: absolute;
    width: 689px;
    height: 156px;
    bottom: 908px;
    left: 40px;
    margin: 0;

    img {
      width: 164px;
      height: 156px;
    }
  }

  //text-container
  .container {
    position: absolute;
    margin: 0;
    bottom: 625px;
    left: 98px;
    width: 573px;
    height: 240px;
  }

  .number2-section {
    z-index: 10;
    position: absolute;
    bottom: 429px;
    right: 355px;
  }

  footer {
    position: absolute;
    height: 429px;
    width: 768px;
    bottom: 0;

    .footer-container {
      .footer-experience {
        position: absolute;
        bottom: 248px;
        right: 248;
        margin: 0;
        width: 329px;
        text-align: center;
      }
    }

    .footer-stay-connected {
      position: absolute;
      bottom: 168px;
      left: 102px;
      width: 553px;
      text-align: center;
    }

    .footer-button-download {
      position: absolute;
      bottom: 65px;
      right: 287px;
    }
  }
}
